[Unit]
Description=Setup Quectel 4/5G Module
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/quectel start
RemainAfterExit=yes
TimeoutSec=60
User=root

[Install]
WantedBy=multi-user.target